version: '3.8'

services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    image: postgres-postgis:17
    container_name: postgres-postgis
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminlocal
      POSTGRES_DB: tmn_backend
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
